<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ClientDb" connectionString="YrIz6zvG09932PGVfca2HLAXZP+6UCa1QeI7EPkeM+EhMI0PZX2oZ1+o3a+imMQDi37NrLIs9eZxNM644tAKy1ada89J/AAP4ebkL+ZyE59CFYdi7nWwHwEIcomnFYy2" />
  </connectionStrings>
</configuration>