<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="variable1" value="${newline}时间： ${date}             ${newline}级别： ${level}             ${newline}来源： ${logger}             ${newline}设备： ${machinename}               ${newline}程序： ${appdomain}             ${newline}版本： ${assembly - version}             ${newline}路径： ${basedir}               ${newline}方法： ${callsite}             ${newline}进程： ${processname}             ${newline}堆栈： ${stacktrace}             ${newline}信息： ${message}${onexception:异常： ${newline}\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}             ${newline}-----------------------------------------------------------" />
  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/RuntimeLog.txt" layout="${variable1}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>

</nlog>
